:root {
    --main-color: #FFFFFF;
    --font-color: #2E2F42;
    --text-color: #434455;
    --main-bg-color: #FFFFFF;
    --main-darck-bg-color: #2E2F42;
    --logo-btn-color: #4D5AE5;
    --logo-footer-color: #F4F4FD;
    --hero-btn-bg-color: #4D5AE5;
    --accent-color: #404BBF;
    --accent-bg-color: #404BBF;
    --btn-team-bg-color: #F4F4FD;
    --border-color: #E7E9FC;
    --modal-bg: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-btn-color);
    display: inline-block;
    margin-right: 76px;
}

.logo-black {
    color: var(--font-color);
}

.footer-logo-link {
    margin-bottom: 16px;
}

.logo-white {
    color: var(--logo-footer-color);
}

.header-menu-nav {
    display: flex;
    gap: 40px;
}

.menu-nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    color: var(--font-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var(--accent-color);
}

.contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-link {
    line-height: 1.5;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/* section main-content */

.hero {
    background-color: var(--main-darck-bg-color);
    padding: 188px 0;
    background-image: linear-gradient (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
}

.hero-container {
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    background-color: var(--hero-btn-bg-color);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-bg-color);
}

/* section description */

.description {
    padding: 120px 0;
}

.description-list {
    display: flex;
    gap: 24px;
}

.description-list-item {
    width: calc((100% - 72px) /4);
}

.title-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--font-color);
    margin-bottom: 72px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-color);
    margin-bottom: 8px;
}

.about-description {
    line-height: 1.5;
    color: var(--text-color);
}

/* section work */

.work {
    padding-bottom: 120px;
}

.work-list {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.work-list-item {
    width: calc((100% - 48px) / 3);
}

/* .work-item-img {} */


/* section our-team */

.our-team {
    background-color: var(--btn-team-bg-color);
    text-align: center;
    display: flex;
    padding: 120px 0 120px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 72px) / 4);
    background-color: var(--main-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-content {
    padding: 32px 16px;
}

.team-position {
    line-height: 1.5;
    text-align: center;
    color: var(--text-color);
}

/* section footer */

.footer {
    background-color: var(--main-darck-bg-color);
    padding: 100px 0;
}

.footer-text {
    line-height: 1.5;
    color: var(--logo-footer-color);
    max-width: 264px;
}

/* section portfolio-content */

.projects {
    padding-top: 96px;
    padding-bottom: 120px;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-btn-color);
    border-radius: 4px;
    background-color: var(--btn-team-bg-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 12px 24px;
    display: block;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--main-color);
    background-color: var(--accent-bg-color);
    border: 1px solid transparent;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.projects-item {
    background-color: var(--main-bg-color);
    width: calc((100% - 48px) / 3);
}

.projects-link {
    display: block;
}

.projects-card-content {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: 0;
}

.projects-filters {
    line-height: 1.5;
    color: var(--text-color);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: var(--modal-bg);
}

.modal-btn {
    position: absolute;
    right: 24px;
    top: 24 px;
    background-color: var(--border-color);
    border-radius: 4px;
    color: var(--font-color);
    cursor: pointer;
}